@model IEnumerable<Questionnaire.Models.QuestionnaireMaster>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center">Questionnaires</h2>
<hr />


<table class="table table-striped">
    <tr>
        <th>
            Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
<div class="row">
    <div class="pull-right">@Html.ActionLink("Create New", "Create", "QM", new { @class = "btn btn-primary" })</div>
</div>
