@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_DefLayout.cshtml";
}

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h3>Page Not Found. Please check the URL.</h3>
            <hr>
        </div>
    </div>
</header>

