@{
    ViewBag.Title = "Unauthorised";
    Layout = "~/Views/Shared/_DefLayout.cshtml";
}

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h3>You need to log in as an Admin to view this page.</h3>
            <hr>
        </div>
    </div>
</header>

