@{
    ViewBag.Title = "Logged Out";
    Layout = "~/Views/Shared/_DefLayout.cshtml";
}

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h3>You have successfully logged out.</h3>
            <hr>
        </div>
    </div>
</header>

